
# Defaults
.DS_Store
Thumbs.db
.env
.env.local
*.log
*.swp
*.swo
.idea/
.vscode/

# JavaScript
node_modules/
dist/
build/
.next/
.nuxt/
*.min.js
*.min.css
.parcel-cache/
coverage/
.turbo/
*.tsbuildinfo
